.form_validate .error{
    color: red;
    font-weight: 400 !important;
}
.form_validate input.error{
    border: 1px solid red;
}
.btn_action{
    float:left;
    margin-right: 10px;
}
.progress {
    position:relative;
    width:100%;
    margin-top: 10px;
    line-height: normal;
}
.bar {
    background-color:green;
    width:0%;
    height:20px;
}
.percent {
     position:absolute;
     display:inline-block;
     left:50%;
     color: #040608;
}
.form_delete{
    margin-bottom: 0;
}
.drop_custom{
    min-width: auto !important;
}
.import_data{
    cursor: pointer;
}
.error_req{
    color: red;
}
.dataTables_paginate{
    display: flex;
    float: right;
}
.dataTables_paginate #example1_previous,#example1_next{
    display: none;
}
.dataTables_paginate .paginate_button{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.dataTables_paginate span{
    display: flex;
}
.paginate_button.current {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.paginate_button{
    cursor: pointer;
}
#example1 th{
    text-align: center !important;
    padding-right: 10px !important;
}
.error_permission{
    height: 600px;
    position: relative;
}
.error_permission .error_detail{
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    line-height: 50px;
    width: 50%;
}
.error_detail i{
    color: red;
    font-size: 100px;
}
