.form_validate .error{
    color: red;
    font-weight: 400 !important;
}
.form_validate input.error{
    border: 1px solid red;
}
.btn_action{
    float:left;
    margin-right: 10px;
}
.progress { 
    position:relative; 
    width:100%;     
    margin-top: 10px;
    line-height: normal;
}
.bar { 
    background-color: #b5076f; 
    width:0%; 
    height:20px; 
}
.percent {
     position:absolute; 
     display:inline-block; 
     left:50%; 
     color: #040608;
}